<footer class="text-center">

	<img src="https://image.ibb.co/ioE7s7/Imprompt_id_white.png" class="img-footer">
	<br>

	<a href="https://twitter.com/imprompt_id"><span class="fa fa-twitter-square" style="font-size: 20px"></span> </a>
	<a href="https://www.facebook.com/itb.improvementplatform.9"><span class="fa fa-facebook-square" style="font-size: 20px" ></span> </a>
	<a href="http://gmail.com"><span class="fa fa-envelope" style="font-size: 20px" ></span> </a>
	<a href="https://www.instagram.com/imprompt.id/"><span class="fa fa-instagram" style="font-size: 20px" ></span></a>
	<br>
	
	<p>Copyright &copy; 2018 </p>
</footer>