{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block meta %}
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="419002796892-0tlg9tf8gr3do7ksjjbp23ckrcqnug35.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}

{% block title %}
LOGIN
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
{% endblock %}

{% block content %}
<div class="container" style="padding-top: 78px">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8 text-center">
			<div class="box">
				<h3 style="margin-bottom: 50px">Choose your role and get your opportunities now!</h3>
				<h4>Login as Employer</h4>
				<div class="g-signin2 button-google" data-width="300" data-onsuccess="onSignIn_employer" data-theme="dark"></div>
				<br>
				<br>
				<hr class="style14">
				<h4>Login as Job Seeker</h4>
				<div class="g-signin2 button-google" data-width="300" data-onsuccess="onSignIn_job_seeker" data-theme="dark"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/app_auth.js' %}"></script>
{% endblock %}
