{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
ABOUT US
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/public12.css' %}">
{% endblock %}

{% block content %}
<header class="header2" id="top" style="margin-top: 60px">
	<div class="container">

	</div>
	<div class="overlay"></div>
	<div class="centered-thing text-center">
		<img src="https://image.ibb.co/ioE7s7/Imprompt_id_white.png" style="width:200px;">
		<h4 style="color: white"><i>A Click with Hundred Opportunities</i></h4>
	</div>
</header>
<div class="container-fluid text-center section">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="col-sm-12">
				<h2><strong><i>{{about}}</i></strong></h2>
				<hr style="border: 1px solid #134E5E; opacity: 0.3; width: 30%">
			</div>

			<div class="col-sm-12 jarak"><p style="font-size: 17px;">{{about_desc|linebreaks}}</p></div>

			<div class="col-sm-12">
				<h2><strong><i>{{vission|linebreaks}}</i></strong></h2>
				<hr style="border: 1px solid #134E5E; opacity: 0.3; width: 30%">
			</div>

			<div class="col-sm-12 jarak"><p style="font-size: 17px;">{{vission_desc}}</p></div>
			<div class="col-sm-12">
				<h2><strong><i>{{mission|linebreaks}}</i></strong></h2>
				<hr style="border: 1px solid #134E5E; opacity: 0.3; width: 30%">
			</div>

			<div class="col-sm-12 jarak"><p style="font-size: 17px;">{{mission_desc}} </p></div>



		</div>
	</div>
</div>

{% endblock %}
