{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
HOME
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/public1.css' %}">
{% endblock %}

{% block content %}
<header class="header" id="top" style="margin-top: 60px">
	<div class="container">

	</div>
	<div class="overlay"></div>
	<div class="centered-thing text-center">
		<img src="https://image.ibb.co/ioE7s7/Imprompt_id_white.png" style="width:200px;">
		<h4 style="color: white"><i>A Click with Hundred Opportunities</i></h4>
	</div>
</header>
<div class="dropdown">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group" style="width:100%;">
				  <select class="form-control">
				    <option value="0">Select Category</option>
				    <option value="1">Internships</option>
				    <option value="2">Volunteer</option>
				    <option value="3">Jobs</option>
				    <option value="4">Conferences</option>
				    <option value="5">Communities</option>
				  </select>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group" style="width:100%;">
				  <select class="form-control">
				    <option value="0">Select Field</option>
				    <option value="1">Design</option>
				    <option value="2">Event Organizer</option>
				    <option value="3">Teaching</option>
				    <option value="4">Operations</option>
				    <option value="5">Marketing</option>
				    <option value="6">Photograph</option>
				    <option value="7">Engineering</option>
				    <option value="8">Media and Communication</option>
				    <option value="9">Finance</option>
				    <option value="10">Fashion</option>
				    <option value="11">Web Developer</option>
				    <option value="12">Other</option>
				  </select>
				</div>
			</div>
			<div class="col-sm-4">
				<button type="button" class="btn btn-primary btn-warning">Start!</button>
			</div>
		</div>
	</div>
	
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center" style="padding-bottom: 50px">
			<h2>Discover Latest Opportunities</h2>
		</div>
	</div>
</div>
<div class="container">
	<div class="row opportunity">
		<div class="col-sm-4">
			<div class="thumbnail">
				
				
				<img src="https://image.ibb.co/iOiHvS/pexels_photo_826349.jpg" width="100%">
				<div class="caption">
					<div class="category-place-main">
						<span class="field-opp">Volunteer</span>
						<span class="category-opp">Other</span>
					</div>
	            <h4>Lorem ipsum donec id elit non mi porta gravida at eget metus.</h4>
	            <p style="color: #999"><b>Duration:</b> May - December 2024</p>
	            <a href="#" style="color: #29758A">Read More <span class="fa fa-long-arrow-right"></span></a>
	          </div>
			</div>
		</div>
		<div class="col-sm-4">
			
			<div class="thumbnail">
				<img src="https://image.ibb.co/fHOvh7/pexels_photo_374074.jpg" width="100%">
				<div class="caption">
					<div class="category-place-main">
						<span class="field-opp">Volunteer</span>
						<span class="category-opp">Other</span>
					</div>
	            <h4>Lorem ipsum donec id elit non mi porta gravida at eget metus.</h4>
	            <p style="color: #999"><b>Duration:</b> May - December 2024</p>
	            <a href="#" style="color: #29758A">Read More <span class="fa fa-long-arrow-right"></span></a>
	          </div>
			</div>
		</div>
		<div class="col-sm-4">
			
			<div class="thumbnail">
				<img src="https://image.ibb.co/fCPMpn/pexels_photo_597331.jpg" width="100%">
				<div class="caption">
					<div class="category-place-main">
						<span class="field-opp">Volunteer</span>
						<span class="category-opp">Other</span>
					</div>
	            <h4>Lorem ipsum donec id elit non mi porta gravida at eget metus.</h4>
	            <p style="color: #999"><b>Duration:</b> May - December 2024</p>
	            <a href="#" style="color: #29758A">Read More <span class="fa fa-long-arrow-right"></span></a>
	          </div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row opportunity">
		<div class="col-sm-4">
			<div class="thumbnail">
				
				<img src="https://image.ibb.co/ga7nSH/pexels_photo_131772.jpg" width="100%">
				<div class="caption">
					<div class="category-place-main">
						<span class="field-opp">Volunteer</span>
						<span class="category-opp">Other</span>
					</div>
	            <h4>Lorem ipsum donec id elit non mi porta gravida at eget metus.</h4>
	            <p style="color: #999"><b>Duration:</b> May - December 2024</p>
	            <a href="#" style="color: #29758A">Read More <span class="fa fa-long-arrow-right"></span></a>
	          </div>
			</div>
		</div>
		<div class="col-sm-4">
			
			<div class="thumbnail">
				<img src="https://image.ibb.co/ekYi1c/pexels_photo_97815.jpg" width="100%">
				<div class="caption">
					<div class="category-place-main">
						<span class="field-opp">Volunteer</span>
						<span class="category-opp">Other</span>
					</div>
	            <h4>Lorem ipsum donec id elit non mi porta gravida at eget metus.</h4>
	            <p style="color: #999"><b>Duration:</b> May - December 2024</p>
	            <a href="#" style="color: #29758A">Read More <span class="fa fa-long-arrow-right"></span></a>
	          </div>
			</div>
		</div>
		<div class="col-sm-4">
			
			<div class="thumbnail">
				<img src="https://image.ibb.co/jjE1nH/pexels_photo_340981.jpg" width="100%">
				<div class="caption">
					<div class="category-place-main">
						<span class="field-opp">Volunteer</span>
						<span class="category-opp">Other</span>
					</div>
	            <h4>Lorem ipsum donec id elit non mi porta gravida at eget metus.</h4>
	            <p style="color: #999"><b>Duration:</b> May - December 2024</p>
	            <a href="#" style="color: #29758A">Read More <span class="fa fa-long-arrow-right"></span></a>
	          </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}