{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Opportunity Detail
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/public.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">

			<div class="content-opp">
				<div class="photo text-on-photo">
					<img src="https://image.ibb.co/mJB8Zx/pexels_photo_911738.jpg">

					<h1 class="text-title-opp"><b>Work with us!</b></h1>
                    <h4 style="color:#999;padding: 5px 50px;">Created by: <a href="{% url 'app-employer:other-company-profile' opportunity.opportunity_owner.pk %}">{{opportunity.opportunity_owner.company_name}}</a> at {{opportunity.created_at}}</h4>
					<div class="category-place">

						<span class="category-opp">{{opportunity.opportunity_category}}</span>
						<span class="field-opp">{{opportunity.opportunity_field}}</span>
					</div>

					<hr class="style14">

				</div>
				<div class="row">
					<div class="col-sm-8">
						<div class="content-text-opp">


							<div class="row">
								<div class="col-sm-6">
									<div class="title">
										<h3><b>Job Description:</b></h3>
									</div>

									<p>{{opportunity.description}}</p>
								</div>
								<div class="col-sm-6">
									<div class="title">
										<h3><b>Requirements:</b></h3>
									</div>
									<p>{{opportunity.requirements}}</p>
								</div>
							</div>
							{% if request.session.status == "employer" %}
							<div class="row">
								<div class="col-sm-12">
									<div class="title">
										<h3><b>Applicants:</b><h3>
									</div>
									{% if application_list %}
										{% for people in application_list %}
											<li>{{people.job_seeker.first_name}} {{people.job_seeker.last_name}}</li>
										{% endfor %}
									{% else %}
									<p>This opportunity doesn't have any applicants yet or you have no access for this opportunity</p>
									{% endif %}
								</div>
							</div>
							{% endif %}
						</div>
						</div>
						<div class="col-sm-4 sidebar-content">
							<div class="title">
								<h3><b>Details</b></h3>
							</div>
								<p><strong>Salary:</strong> {{opportunity.salary}}</p>
								<p><strong>Duration:</strong> {{opportunity.durations}}/week</p>
								<hr class="style14">
								<p><strong>Social Media</strong></p>
								<span class="fa fa-twitter-square" style="font-size: 20px" style="margin: 20px"></span>
								<span class="fa fa-facebook-square" style="font-size: 20px" ></span>
								<span class="fa fa-envelope" style="font-size: 20px" ></span>
								<span class="fa fa-instagram" style="font-size: 20px" ></span>
								<hr class="style14">
								<p><strong>Contact Person</strong></p>
								<p>{{opportunity.contact_person_phone_number}}</p>
								<div style="margin-top: 30px">
									{% if request.session.status == 'job_seeker' %}
										{% if applied %}
										<button id="apply-button" type="button" class="btn btn-info disabled btn-block">Applied</button>
										{% else %}
										<button id="apply-button" type="button" class="btn btn-warning btn-block">Apply Now!</button>
										{% endif %}
									{% elif request.session.status == 'employer' %}
									{% else %}
									<!--if not login-->
										<p>Want to apply? <a href="/login/">log in</a> first!</p>
									{% endif %}
								</div>
						</div>
					</div>

			</div>
			<div class="footer-blog-opp">
			</div>
		</div>


	</div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
	$("#apply-button").click(function () {
		var self = this;
		$.ajax({
			method: "POST",
			url: '/job_seeker/opportunity/{{opportunity.opportunity_category}}/{{opportunity.id}}/apply/',
			data: {'id_opportunity':'{{opportunity.id}}', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
			success: function (data) {
				alert("berhasil");
				console.log("hehe");
				$(self).removeClass("btn-warning");
				$(self).addClass("disabled");
				$(self).addClass("btn-info");
				$(self).text("Applied");
			},
			error: function (rs, e) {
				alert(rs.responseText);
			}
		});


	});
})

</script>
{% endblock %}
