{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
JOBSEEKER PROFILE
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_employer.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="dashboard">
				<div class="row">
					<div class="col-md-2 col-sm-12 text-center">
						<div class="company-logo">
						{% if applicant.profile_picture %}
							<img src="{{applicant.profile_picture.url}}" class="img-circle img-logo">
						{% else %}	
							<img src="https://image.ibb.co/m8UHgc/user.png" class="img-circle img-logo">
						{% endif %}
						</div>
					</div>
					<div class="col-md-10 col-sm-12 info">
						<div class="company-name">
							<h3>{{applicant.first_name}} {{ applicant.last_name }}</h3>
						</div>
						<div class="email-employer">
							<p><span class="fa fa-envelope" style="padding: 3px"></span> <a href="mailto:{{employer.email}}?subject=cv">{{applicant.email}}</a>  </p>
						</div>
						<div class="phone-employer">
							<p><span class="fa fa-phone" style="padding: 3px"></span> {{applicant.phone_number}}</p>
						</div>
                        {% if data_jobseeker.resume %}
                            <div class="resume-employer">
                                <a href="{{applicant.resume.url}}" download="{{applicant.resume.name}}"> Download CV </a>
                            </div>
                        {% else %}
                            <div class="resume-employer">
                                This User doesn't have resume
                            </div>
                        {% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
