{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
JOBSEEKER PROFILE
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_employer.css' %}">
<style>
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}
.outer-container {
	margin-top:100px;
}
.btn-back {
	color: #20758C;
	background: transparent;
	border: 2px solid #20758C;
	border-radius: 30px;
	transition: all 0.3s ease 0s;
}
.button-back {
	margin-bottom: 10px;
}
.dashboard-app {
	box-shadow: 0 1px 2px rgba(25,25,25,0.2);
	background: #f9f9f9;
	border-radius: 10px;
	color: black;
	margin-top: 10px;
	padding: 20px 30px;
}
</style>
{% endblock %}

{% block content %}
<div class="container outer-container" >
	{% if just_view  %}
	<div class="row"><div class="col-sm-2">
		<div style="padding-top: 10px;" class="button-back">
			<button class="btn btn-back btn-block btn-md" type=button onClick="javascript:history.go(-1);"><span class="fa fa-angle-double-left"></span> Back</button>
		</div>
	</div></div>

	{% endif %}
	<div class="row">
		<div class="col-sm-12">

			<div class="dashboard-app" >

				<div class="row">
					<div class="col-md-2 col-sm-12 text-center">

						<div class="company-logo">
						{% if applicant.profile_picture %}
							<img src="{{applicant.profile_picture.url}}" class="img-circle img-logo">
						{% else %}
							<img src="https://image.ibb.co/m8UHgc/user.png" class="img-circle img-logo">
						{% endif %}
						</div>
					</div>
					<div class="col-md-10 col-sm-12 info">
						<div class="company-name">
							<h3>{{applicant.first_name}} {{ applicant.last_name }}</h3>
						</div>
						<div class="email-employer">
							<p><span class="fa fa-envelope" style="padding: 3px"></span> <a href="mailto:{{employer.email}}?subject=cv">{{applicant.email}}</a>  </p>
						</div>
						<div class="phone-employer">
							<p><span class="fa fa-phone" style="padding: 3px"></span> {{applicant.phone_number}}</p>
						</div>
                        {% if data_jobseeker.resume %}
                            <div class="resume-employer">
                                <a href="{{applicant.resume.url}}" download="{{applicant.resume.name}}"> Download CV </a>
                            </div>
                        {% else %}
                            <div class="resume-employer">
                                This User doesn't have resume
                            </div>
                        {% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
