{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
EDIT PROFILE - COMPANY
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_employer.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="dashboard">
        <div class="text-title-post">
          <h3>Edit your company's profile</h3>
          <hr style="border-bottom: 3px solid #29758A; width: 50%; margin:0; padding: 0">
        </div>
        <div class="form-profile">
          <form>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="firstname">Country</label>
                  <select class="form-control">
      					    <option value="0">Select Country</option>
      					    <option value="1">Indonesia</option>
      					    <option value="2">Japan</option>
      					    <option value="3">United States</option>
      					    <option value="4">Hongkong</option>
      					    <option value="5">Singapore</option>
      					    <option value="6">South Korea</option>
      					    <option value="7">North Korea</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <label for="lastname">State/Province</label>
                  <input type="text" class="form-control" placeholder="State/Province">
                </div>
              </div>
            </div>
            <div class="form-group" style="margin-top:15px">
              <label for="email">City</label>
              <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" placeholder="Enter company name">
            </div>
            <div class="form-group">
              <label for="desc">Short Company Description</label>
              <textarea class="form-control" placeholder="Tell us your company description briefly"></textarea>
            </div>
            <div class="form-group">
              <label for="web">Company Website</label>
              <input type="url" class="form-control" placeholder="Enter your company website">
            </div>
            <div class="upload">
              <p><strong>Upload your company logo</strong></p>
              <div class="row">
                <div class="col-sm-4">
                  <button class="btn btn-block btn-default">Choose File</button>
                </div>
                <div class="col-sm-4">
                  <div class="text-file-name">
                    <p style="color:#999">No file chosen</p>
                  </div>
              </div>
            </div>
          </div>

            <div class="btn-padding-form">
              <button class="btn btn-info btn-md btn-block">Submit</button>
            </div>
          </form>


			</div>
		</div>
	</div>
</div>

{% endblock %}
