{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
COMPANY PROFILE
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_employer1.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="dashboard">
				<div class="row">
					<div class="col-md-2 col-sm-12 text-center">
						<div class="company-logo">
							<img src="https://image.ibb.co/m8UHgc/user.png" class="img-circle img-logo">
						</div>
					</div>
					<div class="col-md-10 col-sm-12 info">
						<div class="company-name">
							<h3>Hi, {{employer.first_name}}!</h3>
						</div>
						<div class="email-employer">
							<p><span class="fa fa-envelope" style="padding: 3px"></span> <a href="mailto:{{employer.email}}?subject=cv">{{employer.email}}</a>  </p>
						</div>
						<div class="phone-employer">
							<p><span class="fa fa-phone" style="padding: 3px"></span> {{employer.phone_number}}</p>
						</div>
						<a href="{% app-employer:edit-employer-profile}"><button class="btn btn-customize"><span class="fa fa-pencil"></span> Edit Profile</button></a>


					</div>
				</div>
				<hr class="style14">
				<div class="short-desc">
					<div class="text-title-post">
						<h4>My Company</h4>
						<hr style="border-bottom: 3px solid #29758A; width: 50%; margin:0; padding: 0">
					</div>
					<div class="my-company">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3 text-center">
								<div class="thumbnail">
									<div class="company-logo">
										<img src="https://image.ibb.co/eBitgc/pexels_photo_635705.jpg" class="img-circle img-logo">
									</div>
									<div class="company-name">
										<h3>{{company.company_name}}</h3>
									</div>
									<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="view-profile btn-padding">
												<a href="{% url 'app-employer:company-profile' %}"><button class="btn btn-customize btn-block"><span class="fa fa-briefcase" style="padding: 3px"></span> View Profile</button></a>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="edit-profile btn-padding">
												<a href="{% url 'app-employer:edit-company-profile' %}"><button class="btn btn-customize btn-block"><span class="fa fa-pencil" style="padding: 3px"></span> Edit Profile</button></a>
											</div>
										</div>
									</div>


									<div class="post btn-padding">
										<button class="btn btn-warning btn-block" data-toggle="modal" data-target="#posting">Post an opportunity</button>
									</div>



								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>
<div class="container">
	<!-- Modal -->
  <div class="modal fade" id="posting" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Opportunity Posting</h4>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'app-employer:opportunity-posting' %}">
          	<div class="row">
          		<div class="col-sm-6">
          			<div class="form-group">
				      <label for="opportunity_category">Opportunity Category:</label>
				      <select class="form-control">
					    <option value="0">Select Category</option>
					    <option value="1">Internships</option>
					    <option value="2">Volunteer</option>
					    <option value="3">Jobs</option>
					    <option value="4">Conferences</option>
					    <option value="5">Communities</option>
					  </select>
				    </div>
          		</div>
          		<div class="col-sm-6">
          			<div class="form-group">
				      <label for="opportunity_field">Opportunity Field:</label>
				      <select class="form-control">
					    <option value="0">Select Field</option>
					    <option value="1">Design</option>
					    <option value="2">Event Organizer</option>
					    <option value="3">Teaching</option>
					    <option value="4">Operations</option>
					    <option value="5">Marketing</option>
					    <option value="6">Photograph</option>
					    <option value="7">Engineering</option>
					    <option value="8">Media and Communication</option>
					    <option value="9">Finance</option>
					    <option value="10">Fashion</option>
					    <option value="11">Web Developer</option>
					    <option value="12">Other</option>
					  </select>
				    </div>
          		</div>
          	</div>
          	<div class="row">
          		<div class="col-sm-6">
          			<div class="form-group">
          				<label for="durations">Duration:</label>
          				<input type="text" class="form-control" id="durations" class="form-control" placeholder="In days/weeks" name="durations">
          			</div>

          		</div>
          		<div class="col-sm-6">
          			<div class="form-group">
          				<label for="salary">Salary:</label>
          				<input type="text" class="form-control" id="salary" class="form-control" placeholder="Rp. 0 ,-" name="salary">
          			</div>
          		</div>
          	</div>
          	<div class="row">
          		<div class="col-sm-6">
          			<div class="form-group">
          				<label for="requirements">Other Requirement(s):</label>
          				<input type="text" class="form-control" id="requirements" class="form-control" placeholder="Type here" name="requirements">
          			</div>

          		</div>
          		<div class="col-sm-6">
          			<div class="form-group">
          				<label for="participants_needed">Number of participants needed:</label>
          				<input type="text" class="form-control" id="participants_needed" class="form-control" placeholder="Number" name="participants_needed">
          			</div>
          		</div>
          	</div>
			<div class="row">
          		<div class="col-sm-6">
          			<div class="form-group">
          				<label for="contact_person_phone_number">Phone Number:</label>
          				<input type="text" class="form-control" id="contact_person_phone_number" class="form-control" placeholder="Type here" name="contact_person_phone_number">
          			</div>
          		</div>
						</div>

          		<input id="submit" type="submit" class="btn btn-info btn-md btn-block" value="Submit">
			  </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
